.hero-section {
  padding-top: 20vh;
  padding-bottom: 20vh;
  padding-left: 60px;
  padding-right: 60px;
  background-color: #a8dadc;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
}

.hero-flexbox {
  display: flex;
  position: relative;
  /* justify-content: space-between; */
}

.left-section {
  padding-top: 60px;
  /* right: 10%; */
  z-index: 2;
}

.hero-heading {
  max-width: 931px;
  font-family: "Playfair Display", serif;
  font-style: normal;
  font-weight: bold;
  font-size: 72px;
  line-height: 113.5%;
  color: #1a3140;
}

.hero-paragraph {
  font-family: Arial, Helvetica, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 173.69%;
  max-width: 499px;
  color: rgba(0, 0, 0, 0.7);
}

.right-section {
  right: -5%;
  position: absolute;
  z-index: 1;
  background-size: cover;
}

img {
  /* height: 641px;
  width: 600px; */
  height: 641px;
  width: 600px;
  /* background-repeat: no-repeat; */
}

.btn {
  background: #1d3557;
  border-radius: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 102%;
  border: 0;
  padding: 18px 45px;
  color: #ecf3fa;
  cursor: pointer;
}

.btn-cta {
  padding: 18px 45px;
  border-width: 1px;
  border-color: #1d3557;
  border-style: solid;
  box-sizing: border-box;
  border-radius: 6px;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 102%;
  color: #635a5a;
  margin-left: 30px;
  cursor: pointer;
  background-color: transparent;
}

@media screen and (max-width: 375px) {
  .hero-section {
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .hero-flexbox {
    display: flex;
    /* flex-direction: column; */
    flex-direction: column-reverse;
    /* position: relative; */
    position: static;
    /* justify-content: space-between; */
  }

  .left-section {
    padding-top: 20px;
    position: static;
    z-index: 0;
  }
  .right-section {
    position: static;
    z-index: 0;
  }

  .hero-heading {
    font-size: 40px;
  }
  .hero-paragraph {
    font-size: 20px;
  }

  img {
    height: 241px;
    width: 250px;
  }

  .btn {
    padding: 8px 25px;
  }

  .btn-cta {
    padding: 8px 25px;
    margin-bottom: 20px;
    margin-left: 5px;
  }
}
